/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.heade{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_p{
    font-size: 18px;
    color: #757575;
    font-weight: ;
}
.text_center{
    text-align: center;
}
.p_color{
    color: #FD6E0A;
}
.dark_2{
    color: #474747;
}
.p_btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
}
.sec_bg{
    background-color: #FFF8F3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}
nav h3{
    font-weight: 800;
    font-size: 45px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 230px;
}
.banner_content{
    max-width: 580px;
}
.banner_content h3{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner_content h1{
    font-size: 85px;
    font-weight: 700;
}

.banner_content p{
    font-size: 18px;
    font-weight: 400;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    border: 2px solid #FD6E0A;
}
.banner_img{

}
.banner_img img{
    width: 580px;
    height: 100%;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
.about{
    /* background-color: #FFF8F3; */
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about_items{
    display: flex;
    justify-content: space-around;
    
}
.skills{
    text-align: center;
    padding: 30px;
}


.skills_container{
    display: flex;
    text-align: left;
    gap: 24px;
}

.skill{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.resume_container{
    display: flex;
    gap: 24px;
}
.experience_dec{
    color: #757575;
}
.experience_sub_title{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume_btn{
    text-align: center;
    margin-top: 50px;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer_column{
    width: 50%;
}

footer input[type="text"], input[type="email"], textarea{
    height: 50px;
    border-radius:5px;
    background-color: white; 
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}